<section>
    <header>
        Органайзер: <strong>{{ dateService.date | async | moment:'DD MMMM, YYYY' }}</strong>
    </header>
    <main>
        <ul *ngIf="tasks.length; else noTasks">
            <li class="task" *ngFor="let task of tasks; let i = index">
                <span>
                    <strong>{{ i + 1 }}.</strong>
                    {{ task.title }}
                </span>
                <button class="btn btn-primary" (click)="removeTask(task)">Удалить</button>
            </li>
        </ul>
        <ng-template #noTasks>
            <span>Нет запланированных задач</span>
        </ng-template>
    </main>
    <footer>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <input type="text" formControlName="title">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Добавить</button>
        </form>
    </footer>
</section>